@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
}

html {
    /* This font size control the size and proportions of the hole site */
    font-size: 14px;
}
#root {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 2.5% 4%;
    background: gray;
    display: flex;
    position: fixed;
    inset: 0;
    background-image: url('/src/assets/bg.jpg');
    background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
}
